@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  padding: 0;
  overflow-x: hidden;
  background-color: #2B2B2B;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
  display: flex;
  flex-direction: row;
  gap: 850px;
  height: 150px;
  justify-content: center;
  align-items: center;

  .head-size {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

    a {
      color: #FFFFFF;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      transition: 
      transform 0.25s ease,
      color 0.25s ease;
    }
    a:hover{
      transform: scale(1.08);
      color: #FF3B3B;
    }   
  }
}



.logo {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  align-items: center;
}


.logo span,
.logo p,
.logo h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: 0.7px;
}

.dev {
  color: #FF3B3B;
  font-weight: bold;
  font-size: 48px;
}

.first-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 135px;

    .interative{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding-top: 30px;
    
    a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    }   
}
    img {
    width: 770px;
    height: auto; 
    }
}


.text-begin {
    justify-items: start;
    height: 350px;

    h1{
      margin: 0;
      padding: 0;
      line-height: 1;
    }
}

.tech-strip {
  width: 100%;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 20px 0;

  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.tech-track {
  display: flex;
  width: max-content;
  gap: 50px;
  animation: scroll-left 15s linear infinite;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  color: #ff3b3b;
  font-size: 22px;
  font-weight: bold;

  i {
    font-size: 26px;
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 200px;
    align-items: center;

    img {
        width: 350px;
        height: 350px; 
        border-radius: 200px;
    }

    .text-about {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .interative{
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        padding-top: 30px;

        a {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 24px;
        } 
    }
}

.timeline {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 20px;
  position: relative;
  color: white;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 160px;
  bottom: 0;
  width: 3px;
  background-color: #FF3B3B;
}

.timeline-item {
  display: flex;
  gap: 30px;
  position: relative;
  margin-bottom: 60px;
}

.dot {
  width: 14px;
  height: 14px;
  background-color: #FF3B3B;
  border-radius: 50%;
  position: relative;
  left: 13px;
  margin-top: 5px;
}

.content {
  max-width: 700px;
}

.date {
  font-size: 0.9rem;
  color: #FF3B3B;
}

.content h3 {
  margin: 6px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.content p {
  margin: 0;
  font-size: 1rem;
  opacity: 0.9;
}

.download-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  width: 150px;
  height: 20px;
  margin-top: 12px;
}

.interative-item{
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-size: 27px;
  color: #FFFFFF;
  cursor: pointer;
  width: 150px;
  height: 20px;
  margin-top: 12px;
  justify-content: center;
  align-items: center;

  i{
    font-size: 36px;
    color: #FF3B3B;
  }
}


footer{
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  color: #FF3B3B;
  gap: 0px;

  p{
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-bottom: 50px;
  }
  h4 {
    color: #FF3B3B;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-bottom: 10px;
}

}

/*  ANIMAÇÃO INTERATIVE */

.interative-item {
  position: relative;
  overflow: hidden;
  height: 40px;
}

.interative-item span {
  transition: 
    opacity 0.3s ease,
    transform 0.3s ease;
}

.interative-item i {
  transition: 
    transform 0.45s cubic-bezier(.4,0,.2,1),
    font-size 0.3s ease;
}

/* 🎯 Hover */
.interative-item:hover span {
  opacity: 0;
  transform: translateX(-12px);
}

.interative-item:hover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3) translate(4px, -4px);
}

