.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #1f1f1f;
  color: white;
  width: 90%;
  max-width: 700px;
  border-radius: 16px;
  padding: 32px;
  position: relative;
  animation: scaleIn .25s ease;
}

@keyframes scaleIn {
  from { transform: scale(.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 16px;
  background: none;
  border: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.techs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  span {
    background: #2b2b2b;
    padding: 6px 12px;
    border-radius: 6px;
  }
}

.modal-image {
  width: 200px;
  height: auto;
}

.project-github{
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px;
  width: 110px;
  border: 1px solid #FFFFFF;
  margin-top: 15px;
  border-radius: 15px;

      color: #FFFFFF;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      transition: 
      transform 0.25s ease,
      color 0.25s ease;

      &:hover{
      transform: scale(1.08);
      color: #FF3B3B;
      border-color: #FF3B3B;
    }  
}