<div class="overlay" *ngIf="isOpen" (click)="onClose()">

  <div class="modal" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="onClose()">×</button>
    <h2>{{ project?.title }}</h2>

<div class="images">
  <img *ngFor="let image of project?.image_detailed" [src]="image"class="modal-image"/>
</div>

    <p>{{ project?.description_detailed }}</p>

<div class="techs" style="justify-content: end;">
  <i *ngFor="let tech of project?.techs_detailed" [class]="tech" style="font-size: 25px;"></i>
</div>

<div class="project-github" (click)="redirect('https://github.com/leorigo1/projetoIntegrador')">
    <span style="padding-right: 6px;">Ver Projeto</span>
    <i class="devicon-github-original"></i>
</div>

  </div>
</div>
